[submodule "steal"]
	path = public/javascripts/steal
	url = git://github.com/jupiterjs/steal.git
[submodule "documentjs"]
	path = public/javascripts/documentjs
	url = git://github.com/jupiterjs/documentjs.git
[submodule "funcunit"]
	path = public/javascripts/funcunit
	url = git://github.com/jupiterjs/funcunit.git
[submodule "jquery"]
	path = public/javascripts/jquery
	url = git://github.com/jupiterjs/jquerymx.git