<div id="button-container" >
	<div id="buttons" class="container" style="width:100%;">

		<% if (ENABLE_LOCAL_SAVE) { %><button id="saveAll" class="first">Save</button><% } %>
	    <button id="saveSF" class=" first" disabled="disabled">Save</button>
	    <button id="exportSurvey" class="">Export</button>
    	<% if (PREVIEW_PATH != '') { %><a id="previewSurvey" href="<%= PREVIEW_PATH %>" target="_blank" class="">Preview</a><% } %>
    	<% if (PUBLISH_PATH != '') { %><a id="viewInSF" href="<%= PUBLISH_PATH %>" target="_self" class="">Publish</a><% } %>
	    <button id="collapseAll" class="">Collapse All</button>
	    <button id="hideHowto" class="">Hide Quick Start</button>
	    <button id="showHowto" class="">Show Quick Start</button>
	    <span id="ajax-loader"></span>
	    <div id="static-message">Loading Survey...</div>
    </div>
</div>
