<h1>New Survey</h1>

<div>
	<h3>REST API Test</h3>

	<%= form_tag :controller => "Survey", :action => "createSurvey" do %>
		<%= submit_tag "Confirm and create new survey" %> <%= submit_tag "Cancel" %>
	<% end %>

</div>